
{% extends 'layout.html' %}

{% block tittle %}
Home Page
{% endblock  %}


{% block content %}
<h1 class="text-2xl font-black my-10">
    Hello World , you are at firsApp page asas
</h1>

<div class="grid grid-cols-3 gap-5 m-5">

    {% for chai in chais %}
    <div class="chai_item bg-gray-700 space-y-5 p-3">
        <img src="{{ chai.image.url }}" alt="l">
        <h3>{{ chai.name }}</h3>
        <a href="{% url 'chai_details' chai.id %}">
            <button type = "button " class="px-5 py-1 bg-blue-600 rounded-sm ">
                {{chai.type}} - {{ chai.id}}
            </button>
        </a>
    </div>
    {% endfor %} 
</div>

{% endblock  %}
